<!DOCTYPE html>
<html>
  <head>
    <title><%= strip_tags(yield(:title)) + " – " if content_for?(:title) %> <%= t('application.name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  </head>

  <body class="<%= controller_name %> <%= action_name %> <%= locale %>">
    <%= render("shared/flash") %>
    <%= yield %>
    <%= yield :javascript %>
  </body>
</html>
